[program:{{ go_app_name }}]
command={{ go_bin_path }}/{{ go_app_name }}

autostart=true
autorestart=true
startretries=10
startsecs=5
directory={{ go_bin_path }}

user={{ go_user }}
redirect_stderr=true
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10
